html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

iframe {
  width: 60vw;
  height: 81vh;
}

@media (max-width: 600px) {
  iframe {
    width: 100vw;
    height: 90vh;
  }
}

h2 {
  margin: 1rem;
}

.gIcon {
  font-size: 2.1rem;
}

.gIcon:hover, .gIcon:active, .gIcon:focus {
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.05);
}